<!-- Botão que abre a Modal -->
<button id="btn-novo-categoria" type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#formModal">
    Nova Categoria
</button>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Cabeçalho -->
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Cadastro de Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar" id="btn-fechar-modal"></button>
            </div>

            <!-- Corpo -->
            <div class="modal-body">
                <form [formGroup]="categoria" id="form-categoria">

                    <!-- Nome -->
                    <div class="mb-3">
                        <input id="input-nome" type="text" placeholder="Nome" class="form-control" formControlName="nome">
                        @if (categoria.get('nome')?.invalid && (categoria.get('nome')?.dirty || categoria.get('nome')?.touched)) {
                        <div class="text-danger mt-1" id="erro-nome">
                            @if (categoria.get('nome')?.errors?.['required']) {
                            O campo Nome é obrigatório.
                            }
                            @if (categoria.get('nome')?.errors?.['minlength']) {
                            O Nome deve ter no mínimo 3 caracteres.
                            }
                        </div>
                        }
                    </div>

                    <!-- Descrição -->
                    <div class="mb-3">
                        <input id="input-descricao" type="text" placeholder="Descricao" class="form-control" formControlName="descricao">
                        @if (categoria.get('descricao')?.invalid && (categoria.get('descricao')?.dirty || categoria.get('descricao')?.touched)) {
                        <div class="text-danger mt-1" id="erro-descricao">
                            @if (categoria.get('descricao')?.errors?.['required']) {
                            O campo Descrição é obrigatório.
                            }
                            @if (categoria.get('descricao')?.errors?.['minlength']) {
                            A Descrição deve ter no mínimo 50 caracteres.
                            }
                        </div>
                        }
                    </div>

                    <!-- Tipo da Categoria -->
                    <div class="mb-3">
                        <select id="select-tipo-categoria" class="form-select" formControlName="tipoCategoria">
                            <option value="">Selecione a Categoria</option>
                            @for (tipo of tiposCategoria; track tipo.id) {
                            <option [value]="tipo.id">{{ tipo.nome }}</option>
                            }
                        </select>
                        @if (categoria.get('tipoCategoria')?.invalid && (categoria.get('tipoCategoria')?.dirty || categoria.get('tipoCategoria')?.touched)) {
                        <div class="text-danger mt-1" id="erro-tipo-categoria">
                            O campo Tipo da Categoria é obrigatório.
                        </div>
                        }
                    </div>

                    <!-- Botões -->
                    <div class="d-flex justify-content-between">
                        @if (btnCadastrar) {
                        <button id="btn-cadastrar" type="button" class="btn btn-primary" (click)="cadastrar()" [disabled]="categoria.invalid">Cadastrar</button>
                        } @else {
                        <button id="btn-alterar" type="button" class="btn btn-warning" (click)="alterar()" [disabled]="categoria.invalid">Alterar</button>
                        <button id="btn-remover" type="button" class="btn btn-danger" (click)="remover()">Remover</button>
                        <button id="btn-cancelar" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelar()">Cancelar</button>
                        }
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Tabela -->
<table id="tabela-categorias" class="table table-bordered mt-3">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descricao</th>
            <th>Tipo Categoria</th>
            <th>Selecionar</th>
        </tr>
    </thead>
    <tbody>
        @for (v of vetor; track $index; let i = $index) {
        <tr id="categoria-{{v.id}}">
            <td>{{ v.id }}</td>
            <td>{{ v.nome }}</td>
            <td>{{ v.descricao }}</td>
            <td>{{ v.tipoCategoria}}</td>
            <td>
                <button id="btn-selecionar-{{v.id}}" type="button" class="btn btn-info btn-sm" (click)="selecionar(i)" data-bs-toggle="modal" data-bs-target="#formModal">
                    Selecionar
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>
